.row
{
  display: flex;
  flex-flow: row nowrap;
}

.column
{
  display: flex;
  flex-flow: column nowrap;
}

.container
{
  flex-grow: 1;
}

.center-align
{
  justify-content: space-around;
  align-items: center;
}

.end-align
{
  justify-content: flex-end;
  align-items: center;
}

.start-align
{
  justify-content: flex-start;
  align-items: center;
}
