@import "global_variables";

html, body
{
  min-height: 100vh;
}

body, #root
{
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  color: $light-teal-color
}

header
{
  height: $header-height;
  background-color: $main-gray-color;
}

footer
{
  height: $footer-height;
  background: $main-gray-color;
}
