/*********************************************************************
* Color
*********************************************************************/
$main-black-color: #222629;
$main-gray-color: #474B4f;
$light-gray-color: #6B6E70;

$main-teal-color: #2F7B88;
$light-teal-color: #32C2B9;
